<li>
  <div class="char-item" data-id=<%= character.id %> data-name="<%= character.name %>">
    <%= character.name %>
  <div />
  <button class="btn" id="edit-character">Edit</button>
  <button class="btn" id="delete-character">Delete</button>
</li>